BasedOnStyle: LLVM
IndentWidth: 3
#AccessModifierOffset: -4
BreakBeforeBraces: Allman
AllowShortBlocksOnASingleLine: Always
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortCaseLabelsOnASingleLine: true
PointerAlignment: Left
MaxEmptyLinesToKeep: 10
AlignTrailingComments: true
FixNamespaceComments: true
NamespaceIndentation: None
ContinuationIndentWidth: 2
KeepEmptyLinesAtEOF: true
AllowShortLoopsOnASingleLine: true
AllowShortCompoundRequirementOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
SeparateDefinitionBlocks: Always
